<!DOCTYPE html>  
<html>  
<head>
  <meta charset="utf-8">
  <title>User page</title>
</head>
<body>
  <form action="/" method="post">
    <input type="text" id="name" name="name" placeholder="Name" required> <br>
    <input type="text" id="age" name="age" placeholder="Age" required> <br>
    <input type="text" id="occup" name="occup" placeholder="Occupation" required> <br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>

